body{
    border:  1px solid black; 
    width: 900px; 
    margin: auto;
     padding: 2%;
}
input {
    border: none;
    border-bottom: 1px solid black;
    width: 500px;
  }
  table,
      tr,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
